.skill-chip {
    margin: 4px;
    background-color: #ffffff;
    color: rgb(10, 10, 10);
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.skill-chip:hover {
    background-color: #333;
    color: #fff;
    transform: scale(1.1);
}

.about-avatar {
    width: 50px;
    height: 50px;
}

.section {
    margin-top: 40px;
}

.category-paper {
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.category-paper:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: #333;
}

.category-paper:hover .skill-chip {
    background-color: #fff;
    color: #333;
    border: 1px solid #fff;
}