/* General App Styles */
.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
}

/* Navigation Bar Styles */
nav {
  margin-bottom: 20px;
}

.drawer :hover{
  background-color: #ffffff;
  transform: scale(1.03);
}

.nav-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.nav-links li {
  display: inline;
  margin: 0 10px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #000000;
}

.MuiToolbar-root {
  justify-content: space-between;
}

.MuiButton-root {
  text-transform: none;
  font-size: 16px;
}
/* Header Styles */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
